<section>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/forsecond.css">




    <ul>
        <a href="/">
            <li>Home </li>
        </a>
        <a href="/favorite-quotes">
            <li>Saved Item </li>
        </a>
    </ul>

</section>