.sec{
    display: flex;
    flex-wrap: wrap;
}
.fex{
    width: 44%;
    background-color: rgb(86, 224, 224);
    margin: 25px;

}
p{
    width: 44%;

}
ul li {
    display: inline;
    color: rgb(238, 255, 249);
}
.fixsize{
    padding-left: 20px;
}
.fff{
    padding-left: 20px;
}