.sec{
    display: flex;
    flex-wrap: wrap;
}

.showdiv{
    width: 35%;
    background-color: aqua;
    margin: 25px;
}
.butt{
margin-left: 200px;
}
.coo{
    background-color: rgb(45, 63, 63);
}
.fixsize{
    padding-left: 20px;
}